In [1]:
from datasets import load_dataset
from huggingface_hub import list_datasets

In [2]:
available = list_datasets()

# print(len(available))
# print([i for i in available if '/' not in i])

## INTERRUPT

# counter = 0
# for x in available:
#     counter+1
#     print(x)
# print(counter)

In [3]:
print([x for x in available if '/' not in x])

TypeError: argument of type 'DatasetInfo' is not iterable

In [9]:
movie_rationales = load_dataset('movie_rationales', 'trust_code=True')

Downloading data:   0%|          | 0.00/3.90M [00:00<?, ?B/s]

Generating train split: 0 examples [00:00, ? examples/s]

Generating validation split: 0 examples [00:00, ? examples/s]

Generating test split: 0 examples [00:00, ? examples/s]

In [10]:
movie_rationales

DatasetDict({
    train: Dataset({
        features: ['review', 'label', 'evidences'],
        num_rows: 1600
    })
    validation: Dataset({
        features: ['review', 'label', 'evidences'],
        num_rows: 200
    })
    test: Dataset({
        features: ['review', 'label', 'evidences'],
        num_rows: 199
    })
})

In [12]:
train = movie_rationales['train']
df    = train.to_pandas()

In [14]:
df.describe()

             label
count  1600.000000
mean      0.500000
std       0.500156
min       0.000000
25%       0.000000
50%       0.500000
75%       1.000000
max       1.000000

In [18]:
# df.head()
# column_names = df.columns.tolist()
# print(column_names)

In [26]:
 df.query('label == 1')

,review,label,evidences
800,films adapted from comic books have had plenty...,1,"[the film , however , is all good, ably captur..."
801,every now and then a movie comes along from a ...,1,"[witherspoon deserves an oscar nomination, thi..."
802,you 've got mail works alot better than it des...,1,"[it 's so damn cute and well - done, how enjoy..."
803,""" jaws "" is a rare film that grabs your attent...",1,"[director steven spielberg wastes no time, giv..."
804,moviemaking is a lot like being the general ma...,1,[what you 've got in jackie chan is something ...
...,...,...,...
1595,"the central focus of michael winterbottom 's ""...",1,[emerging as the definite face of independent ...
1596,"after the average mouse hunt , the silly small...",1,"[a visual and aural treat , backed up with a g..."
1597,i have seen several ( but not that many )\nwoo...,1,[this movie is so infectious . and funny ! and...
1598,fritz lang 's first american film since leavin...,1,"[powerfully done, an eye - opener]"
1599,veteran actor clint eastwood has never looked ...,1,"[a thoughtful human story, hands down , the mo..."

,review,label,evidences
0,"plot : two teen couples go to a church party ,...",0,"[mind - fuck movie, the sad part is, downshift..."
1,the happy bastard 's quick movie review damn\n...,0,"[it 's pretty much a sunken ship, sutherland i..."
2,it is movies like these that make a jaded movi...,0,[the characters and acting is nothing spectacu...
3,""" quest for camelot "" is warner bros . '\nfirs...",0,"[dead on arrival, the characters stink, subpar..."
4,synopsis : a mentally unstable man undergoing ...,0,"[it is highly derivative and somewhat boring, ..."